
body {
    background-color: #212121 !important; 
    color: #ffffff !important; 
    font-family: "Source Code Pro", monospace !important;
    font-size: 20px !important;
}

section {
    padding: 40px 0; 
}

/* Navbar */
.navbar {
    background-color: #212121 !important; 
    border-bottom: 6px solid #ffc109; 
}

.navbar-brand {
    color: #ffc109 !important; 
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important; 
}

.navbar .btn-primary {
    background-color: #ffc109 !important; 
    color: #212121 !important; 
}

/* Tarjetas de proyectos */
.project-card {
    background-color: #333 !important; 
    color: #ffffff !important;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(255, 193, 9, 0.5); 
}

.project-card .card-title {
    color: #ffc109; 
}

.project-card .btn-outline-light {
    border-color: #ffc109;
    color: #ffc109;
}

.project-card .btn-outline-light:hover {
    background-color: #ffc109;
    color: #212121; 
}

.project-card.small-card {
    width: 70%; 
    margin: 0 auto; 
    font-size: 1rem; 
}

.project-card .card-img-top {
    height: 200px; 
    object-fit: cover; 
}


.card-text i {
    color: #ffc109; 
    margin-right: 8px;
    vertical-align: middle;
}


.highlight {
    color: #ffc109; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.text-center .bi {
    color: #ffffff; 
    transition: transform 0.3s;
}

.text-center .bi:hover {
    transform: scale(1.2); 
}


.rounded-circle {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

