.navbar {
    background-color: #212121 !important; 
    border-bottom: 6px solid #ffc109; 
    font-family: "Source Code Pro", monospace;
}

.navbar-brand {
    color: #ffc109 !important; 
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important; 
}

.navbar .btn-primary {
    background-color: #ffc109 !important; 
    color: #212121 !important; 
}

body {
    background-color: #212121 !important; /* Negro más claro que el navbar */
    color: #ffffff !important; /* Color del texto en blanco */
    font-family: "Source Code Pro", monospace !important;
    font-size: 20px !important;
}

section {
    padding: 40px 0; /* Espaciado interno */
}
.rounded-circle {
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    margin-left: auto; /* Mueve la imagen hacia la derecha */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para la imagen */
}

.highlight {
    color: #ffc109; /* Color amarillo para "Juan Pablo" */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto "Juan Pablo" */
}

.text-center .bi {
    color: #ffffff; /* Color blanco para los iconos */
    transition: transform 0.3s;
}

.text-center .bi:hover {
    transform: scale(1.2); /* Aumentar el tamaño del icono al pasar el cursor */
}
